<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


      <div class="container">
        <div class="row">
            <div id="todo-h-container" class="col-xs-12 col-md-12" ></div>
        </div>
        <div class="row">
            <div id="todo-form-container" class="col-xs-12 col-md-12" ></div>
        </div>
        <div class="row">
            <div id="todo-l-container" class="col-xs-12 col-md-12" ></div>
        </div>
      </div>


   		<script type="text/html" id="template-todo-header" >
			<h1>Todo List</h1>

            <button type="button" class="btn btn-default add_todo">Add</button>

            <div class="pull-right">
                <span>Show:&nbsp;</span>
                <div class="btn-group">
                  <a  class="btn btn-default" href="#filter/none">All</a>
                  <a  class="btn btn-default" href="#filter/done">Done</a>
                  <a  class="btn btn-default" href="#filter/pending">Pending</a>

                </div>
            </div>
		</script>
   		<script type="text/html" id="template-todo-form" >
            <form class="form-horizontal" role="form">
              <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control title" placeholder="Title" value="<%= title %>" >
                    </div>
              </div>              
              <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control desc" rows="3"><%= description %></textarea>
                    </div>
              </div>    
              <div class="form-group">
                    <label for="done" class="col-sm-2 control-label" >Done?</label>
                    <div class="col-sm-1">
                      <input type="checkbox" <% if (done==1){ %> checked <% } %> >
                    </div>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default pull-right submit_form"><% if(id){ %>Edit<% }else{ %>Save<% } %></button>
                    </div>

              </div>
            </form>
        </script>
   		<script type="text/html" id="template-todo-list" >
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>title</th>
                      <th>desc</th>
                      <th>created</th>
                      <th>done?</th>
                      <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>  

		</script>
   		<script type="text/html" id="template-todo-row" >
                  <% var date_=new Date(created) %>
                  <td data-done="<%= (done)?done:0 %>" ><%= inc_id %></td>
                  <td><%= title %></td>
                  <td><%= description %></td>
                  <td><%= date_ %></td>
                  <td><% if(done==0){ %><span class="glyphicon glyphicon-unchecked done"></span><% }else{ %><span class="glyphicon glyphicon-check done"></span><% } %></td>
                  <td>
                    <a href="#edit/<%= id %>"><span class="glyphicon glyphicon-pencil edit"></span></a>
                    <span class="glyphicon glyphicon-remove remove"></span>
                    <span class="glyphicon glyphicon-floppy-disk save"></span>
                  </td>
		</script>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>


        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/vendor/backbone.localStorage-min.js"></script>
        <script src="js/vendor/backbone.marionette.min.js"></script>

        <script src="js/main.js"></script>
        <script src="js/mar_modules.js"></script>
    
		<script>
			$(function () {
				TodosApp.start();
			});
		</script>
    </body>
</html>
